/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  background: rgb(30, 30, 30);
  font-size: 14px;
  // color: $base05;
  font-family: 'ui-monospace','SFMono-Regular','SF Mono','Menlo','Consolas','Liberation Mono','monospac';
  // font-size: $type-size-5;
  line-height: 1.4;
  border-radius: $border-radius;

  > pre,
  pre.highlight {
    margin: 0;
    padding: 1em;
  }
}

.highlight table {
  margin-bottom: 0;
  font-size: 1em;
  border: 0;

  td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;

    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      padding-right: 1em;
      width: 1em;
      color: $base04;
      border-right: 1px solid $base04;
      text-align: right;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* code */
    &.code,
    &.rouge-code {
      padding-left: 1em;
    }
  }

  pre {
    margin: 0;
  }
}

.highlight pre {
  width: 100%;
}

.highlight .hll {
  background-color: $base06;
}
.highlight {
  .c {
    /* Comment */
    color: $base04;
  }
  .err {
    /* Error */
    color: $base08;
  }
  .k {
    /* Keyword */
    color: rgb(52, 158, 218);
  }
  .l {
    /* Literal */
    color: $base09;
  }
  .n {
    /* Name */
    color: rgb(135, 222, 255);
  }
  .o {
    /* Operator */
    color: white;
  }
  .p {
    /* Punctuation */
    color: $base05;
  }
  .cm {
    /* Comment.Multiline */
    color: $base04;
  }
  .cp {
    /* Comment.Preproc */
    color: $base04;
  }
  .c1 {
    /* Comment.Single */
   color: rgb(110, 197, 95);
   font-style: italic;
  }
  .cs {
    /* Comment.Special */
    color: $base04;
  }
  .gd {
    /* Generic.Deleted */
    color: $base08;
  }
  .ge {
    /* Generic.Emph */
    font-style: italic;
  }
  .gh {
    /* Generic.Heading */
    color: $base05;
    font-weight: bold;
  }
  .gi {
    /* Generic.Inserted */
    color: $base0b;
  }
  .gp {
    /* Generic.Prompt */
    color: $base04;
    font-weight: bold;
  }
  .gs {
    /* Generic.Strong */
    font-weight: bold;
  }
  .gu {
    /* Generic.Subheading */
    color: $base0c;
    font-weight: bold;
  }
  .kc {
    /* Keyword.Constant */
    color: rgb(52, 158, 218);
  }
  .kd {
    /* Keyword.Declaration */
    color: rgb(52, 158, 218);
  }
  .kn {
    /* Keyword.Namespace */
    color: rgb(52, 158, 218);
  }
  .kp {
    /* Keyword.Pseudo */
    color: rgb(52, 158, 218);
  }
  .kr {
    /* Keyword.Reserved */
    color: rgb(52, 158, 218);
  }
  .kt {
    /* Keyword.Type */
    color: rgb(52, 158, 218);
  }
  .ld {
    /* Literal.Date */
    color: $base0b;
  }
  .m {
    /* Literal.Number */
    color: $base09;
  }
  .s {
    /* Literal.String */
    color: rgb(216, 157, 122);
  }
  .na {
    /* Name.Attribute */
    color: rgb(221, 210, 166);
  }
  .nb {
    /* Name.Builtin */
    color: rgb(0, 204, 176);
  }
  .nc {
    /* Name.Class */
    color: rgb(0, 204, 176);
  }
  .no {
    /* Name.Constant */
    color: rgb(255, 193, 95);
  }
  .nd {
    /* Name.Decorator */
    color: rgb(0, 204, 176);
  }
  .ni {
    /* Name.Entity */
    color: rgb(0, 204, 176);
  }
  .ne {
    /* Name.Exception */
    color: rgb(0, 204, 176);
  }
  .nf {
    /* Name.Function */
    color: rgb(221, 210, 166);
  }
  .nl {
    /* Name.Label */
    color: rgb(0, 204, 176);
  }
  .nn {
    /* Name.Namespace */
    color: rgb(0, 204, 176);
  }
  .nx {
    /* Name.Other */
    color: rgb(0, 204, 176);
  }
  .py {
    /* Name.Property */
    color: $base05;
  }
  .nt {
    /* Name.Tag */
    color: $base0c;
  }
  .nv {
    /* Name.Variable */
    color: $base08;
  }
  .ow {
    /* Operator.Word */
    color: $base0c;
  }
  .w {
    /* Text.Whitespace */
    color: $base05;
  }
  .mf {
    /* Literal.Number.Float */
    color: $base09;
  }
  .mh {
    /* Literal.Number.Hex */
    color: rgb(175, 206, 154);
  }
  .mi {
    /* Literal.Number.Integer */
    color: rgb(175, 206, 154);
  }
  .mo {
    /* Literal.Number.Oct */
    color: rgb(175, 206, 154);
  }
  .sb {
    /* Literal.String.Backtick */
    color: rgb(216, 157, 122);
  }
  .sc {
    /* Literal.String.Char */
    color: $base05;
  }
  .sd {
    /* Literal.String.Doc */
    color: $base04;
  }
  .s2 {
    /* Literal.String.Double */
    color: rgb(216, 157, 122);
  }
  .se {
    /* Literal.String.Escape */
    color: $base09;
  }
  .sh {
    /* Literal.String.Heredoc */
    color: rgb(216, 157, 122);
  }
  .si {
    /* Literal.String.Interpol */
    color: $base09;
  }
  .sx {
    /* Literal.String.Other */
    color: rgb(216, 157, 122);
  }
  .sr {
    /* Literal.String.Regex */
    color: rgb(216, 157, 122);
  }
  .s1 {
    /* Literal.String.Single */
    color: rgb(216, 157, 122);
  }
  .ss {
    /* Literal.String.Symbol */
    color: rgb(216, 157, 122);
  }
  .bp {
    /* Name.Builtin.Pseudo */
    color: $base05;
  }
  .vc {
    /* Name.Variable.Class */
    color: $base08;
  }
  .vg {
    /* Name.Variable.Global */
    color: $base08;
  }
  .vi {
    /* Name.Variable.Instance */
    color: $base08;
  }
  .il {
    /* Literal.Number.Integer.Long */
    color: $base09;
  }
}

.gist {
  th, td {
    border-bottom: 0;
  }
}

/* https://github.com/lonekorean/gist-syntax-themes */
body .gist .highlight {
  background: rgb(30, 30, 30);
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s2,
body .gist .pl-stj,
body .gist .pl-vo,
body .gist .pl-id,
body .gist .pl-ii {
  font-size: 14px;
   color: #fff;
}
body .gist .pl-enti,
body .gist .pl-mb,
body .gist .pl-pdb {
   font-weight: 700;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
   color: rgb(110, 197, 95);
   font-style: italic;
}
body .gist .pl-c1,
body .gist .pl-pdc1,
body .gist .pl-scp {
   color: rgb(175, 206, 154);
}
body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s3,
body .gist .pl-sok {
   color: #ffe5bb;
}
body .gist .pl-mdh,
body .gist .pl-mdi,
body .gist .pl-mdr {
   font-weight: 400;
}
body .gist .pl-mi,
body .gist .pl-pdi {
   color: #ffe5bb;
   font-style: italic;
}
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre {
   color: #cc3;
}
body .gist .pl-mdht,
body .gist .pl-mi1 {
   color: #a5c261;
   background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf {
   color: #b83426;
   background: rgba(64, 0, 0, .5);
}
body .gist .pl-ib,
body .gist .pl-id,
body .gist .pl-ii,
body .gist .pl-iu {
   background: #b83426;
}
body .gist .pl-ms1 {
   background: #ffc66d;
}
body .gist .highlight-text-html-basic .pl-ent,
body .gist .pl-cce,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-k,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mp,
body .gist .pl-mp .pl-s3,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-mq,
body .gist .pl-mri,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-v,
body .gist .pl-va,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-vpu,
body .gist .pl-mdr {
   color: rgb(52, 158, 218);;
}

body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s1,
body .gist .pl-sol,
body .gist .pl-mb,
body .gist .pl-pdb {
   color: rgb(135, 222, 255);
}
body .gist .pl-e,
body .gist .pl-en, 
body .gist .pl-entl {
  color: rgb(221, 210, 166);
}
body .gist .pl-mo,
body .gist .pl-sc,
body .gist .pl-sf,
body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-mdh,
body .gist .pl-mdi {
   color: rgb(0, 204, 176);;
}
body .gist .pl-s {
  color: rgb(208, 140, 100);
}
body .gist .pl-ef,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-eoi,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-smc,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-enti {
   color: #b83426;
}

body {
  font: 16px 'Noto Sans KR', sans-serif;
}
// body .gist .gist-file {
//   border-color: #171717 #171717 #070707
// }
// body .gist .gist-data {
//   border-color: black
// }
// body .gist .gist-meta {
//   color: #d6d6d6;
//   background: #373737; 
// }
// body .gist .gist-meta a {
//   color: #d6d6d6
// }
// body .gist .gist-data .pl-s .pl-s1 {
//   color: #a5c261
// }
/* https://github.com/lonekorean/gist-syntax-themes */